In [1]:
import pandas as pd
import numpy as np

### Series

In [3]:
with open('US_Unemployment_Oct2012.csv', 'r', encoding = 'UTF8') as unemp:
    #x = unemp.readline()
    #print(x)
    data = {}
    for line in unemp:
        #print(line)
        info = line.rstrip().split(',')
        data[info[0]]= (info[1])
print(data)

{"'State'": "'Unemployment'", 'AL': '7.1', 'AK': '6.8', 'AZ': '8.1', 'AR': '7.2', 'CA': '10.1', 'CO': '7.7', 'CT': '8.4', 'DE': '7.1', 'FL': '8.2', 'GA': '8.8', 'HI': '5.4', 'ID': '6.6', 'IL': '8.8', 'IN': '8.4', 'IA': '5.1', 'KS': '5.6', 'KY': '8.1', 'LA': '5.9', 'ME': '7.2', 'MD': '6.8', 'MA': '6.7', 'MI': '9.1', 'MN': '5.6', 'MS': '9.1', 'MO': '6.7', 'MT': '5.8', 'NE': '3.9', 'NV': '10.3', 'NH': '5.7', 'NJ': '9.6', 'NM': '6.8', 'NY': '8.4', 'NC': '9.4', 'ND': '3.2', 'OH': '6.9', 'OK': '5.2', 'OR': '8.5', 'PA': '8', 'RI': '10.1', 'SC': '8.8', 'SD': '4.4', 'TN': '7.8', 'TX': '6.4', 'UT': '5.5', 'VT': '5', 'VA': '5.8', 'WA': '7.8', 'WV': '7.5', 'WI': '6.8', 'WY': '5.1'}

In [4]:
data_series = pd.Series(data)

In [5]:
data_series

'State'    'Unemployment'
AL                    7.1
AK                    6.8
AZ                    8.1
AR                    7.2
CA                   10.1
CO                    7.7
CT                    8.4
DE                    7.1
FL                    8.2
GA                    8.8
HI                    5.4
ID                    6.6
IL                    8.8
IN                    8.4
IA                    5.1
KS                    5.6
KY                    8.1
LA                    5.9
ME                    7.2
MD                    6.8
MA                    6.7
MI                    9.1
MN                    5.6
MS                    9.1
MO                    6.7
MT                    5.8
NE                    3.9
NV                   10.3
NH                    5.7
NJ                    9.6
NM                    6.8
NY                    8.4
NC                    9.4
ND                    3.2
OH                    6.9
OK                    5.2
OR                    8.5
PA                      8
RI                   10.1
SC                    8.8
SD                    4.4
TN                    7.8
TX                    6.4
UT                    5.5
VT                      5
VA                    5.8
WA                    7.8
WV                    7.5
WI                    6.8
WY                    5.1
dtype: object

In [13]:
data_series.drop(["'State'"], inplace = True)# must tell python wether your dropping a row or a column, or you will get an error

KeyError: '["\'State\'"] not found in axis'

In [1]:
data_series = data_series.astype(float)

NameError: name 'data_series' is not defined

In [17]:
data_series.dtype

dtype('float64')

In [22]:
print(data_series.values)
print(data_series.index)
data_series.loc['CA']
data_series.iloc[6]

[ 7.1  6.8  8.1  7.2 10.1  7.7  8.4  7.1  8.2  8.8  5.4  6.6  8.8  8.4
  5.1  5.6  8.1  5.9  7.2  6.8  6.7  9.1  5.6  9.1  6.7  5.8  3.9 10.3
  5.7  9.6  6.8  8.4  9.4  3.2  6.9  5.2  8.5  8.  10.1  8.8  4.4  7.8
  6.4  5.5  5.   5.8  7.8  7.5  6.8  5.1]
Index(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID',
       'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS',
       'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK',
       'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV',
       'WI', 'WY'],
      dtype='object')

8.4

In [23]:
data_series['CA':'ID']

CA    10.1
CO     7.7
CT     8.4
DE     7.1
FL     8.2
GA     8.8
HI     5.4
ID     6.6
dtype: float64

In [25]:
data_series = data_series/100
data_series

AL    0.00071
AK    0.00068
AZ    0.00081
AR    0.00072
CA    0.00101
CO    0.00077
CT    0.00084
DE    0.00071
FL    0.00082
GA    0.00088
HI    0.00054
ID    0.00066
IL    0.00088
IN    0.00084
IA    0.00051
KS    0.00056
KY    0.00081
LA    0.00059
ME    0.00072
MD    0.00068
MA    0.00067
MI    0.00091
MN    0.00056
MS    0.00091
MO    0.00067
MT    0.00058
NE    0.00039
NV    0.00103
NH    0.00057
NJ    0.00096
NM    0.00068
NY    0.00084
NC    0.00094
ND    0.00032
OH    0.00069
OK    0.00052
OR    0.00085
PA    0.00080
RI    0.00101
SC    0.00088
SD    0.00044
TN    0.00078
TX    0.00064
UT    0.00055
VT    0.00050
VA    0.00058
WA    0.00078
WV    0.00075
WI    0.00068
WY    0.00051
dtype: float64

### Dataframes

In [ ]:
#Fire data subsetted from https://www.vbgov.com/government/departments/stir/transparency/Pages/open-data.aspx

In [27]:
fire = pd.read_csv('Fire_Tiny.csv', index_col = 0, encoding='UTF8')
fire

,Incident Type,Call Date and Time,Year,Incident Location,Battalion,Station Area,Estimated Property Loss,Location 1
0,"Electrical wiring/equipment problem, other",08/05/2012 03:54:23 AM,2012,2100 VISTA CI,2.0,ST01,20,"2100 VISTA CI\nVIRGINIA BEACH, VA 23451-\n(36...."
1,"EMS call, excluding vehicle accident with injury",07/10/2014 02:52:41 PM,2014,1200 ATLANTIC SHORES DR,1.0,ST12,0,"1200 ATLANTIC SHORES DR\nVIRGINIA BEACH, VA 23..."
2,"EMS call, excluding vehicle accident with injury",08/09/2015 05:17:05 PM,2015,400 PRINCE OF WALES DR,2.0,ST20,0,"400 PRINCE OF WALES DR\nVIRGINIA BEACH, VA 234..."
3,"EMS call, excluding vehicle accident with injury",11/25/2011 08:11:40 AM,2011,2500 BAYVIEW AV,2.0,ST04,0,"2500 BAYVIEW AV\nVIRGINIA BEACH, VA 23455-\n(3..."
4,"EMS call, excluding vehicle accident with injury",04/18/2015 12:49:49 PM,2015,100 HILL PRINCE RD,3.0,ST09,40,"100 HILL PRINCE RD\nVIRGINIA BEACH, VA 23462-\..."
5,"EMS call, excluding vehicle accident with injury",09/04/2013 01:45:32 PM,2013,1800 COLONIAL ARMS CI,1.0,ST08,20,"1800 COLONIAL ARMS CI\nVIRGINIA BEACH, VA 2345..."
6,"EMS call, excluding vehicle accident with injury",05/13/2017 04:09:32 AM,2017,3800 CHANCERY LN,3.0,ST16,10,"3800 CHANCERY LN\nVIRGINIA BEACH, VA 23452-\n(..."
7,"Alarm system activation, no fire - unintentional",08/29/2016 01:37:51 PM,2016,5800 WESLEYAN DR,2.0,ST02,30,"5800 WESLEYAN DR\nVIRGINIA BEACH, VA 23455-\n(..."
8,Brush or brush-and-grass mixture fire,07/23/2011 02:08:01 PM,2011,1800 COLONIAL ARMS CI,1.0,ST08,2000,"1800 COLONIAL ARMS CI\nVIRGINIA BEACH, VA 2345..."
9,"EMS call, excluding vehicle accident with injury",01/11/2012 11:10:34 AM,2012,100 INDIAN RIVER RD,3.0,ST10,0,"100 INDIAN RIVER RD\nVIRGINIA BEACH, VA 23464-\n"

### Selecting and subsetting

In [28]:
fire['Station Area']

0    ST01
1    ST12
2    ST20
3    ST04
4    ST09
5    ST08
6    ST16
7    ST02
8    ST08
9    ST10
Name: Station Area, dtype: object

In [29]:
#Only station area 2
fire.loc[2]

Incident Type               EMS call, excluding vehicle accident with injury
Call Date and Time                                    08/09/2015 05:17:05 PM
Year                                                                    2015
Incident Location                                     400 PRINCE OF WALES DR
Battalion                                                                2.0
Station Area                                                            ST20
Estimated Property Loss                                                    0
Location 1                 400 PRINCE OF WALES DR\nVIRGINIA BEACH, VA 234...
Name: 2, dtype: object

In [32]:
#Station area 8 and 2013
fire['Station Area'] == 'ST20'

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: Station Area, dtype: bool

In [38]:
fire_20 = fire.loc[fire['Station Area'] =='ST20']
fire_20

fire_2013 = fire.loc[(fire['Station Area'] == 'ST20') & (fire['Year'] == 2013)]
fire_2013

Empty DataFrame
Columns: [Incident Type, Call Date and Time, Year, Incident Location, Battalion, Station Area, Estimated Property Loss, Location 1]
Index: []

In [ ]:
#Remove all rows where Battalion is 2
#Keep all rows where Battalion is NOT 2

In [ ]:
#Everything but incidents in 2011

In [ ]:
#All incidents with Property Loss greater than $50